<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>
        <a href="/registroAdmin"> Registrar nuevo Administrador </a> 
        
         
    </nav>
</header>
<body>
    <h1>
    Ingreso administrador
</h1>
<form action="/logincheck" method="POST">
    <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
   <p th:if="${logout != null}" th:text="${logout}" style="color:red"></p>
   <p th:if="${registrado != null}" th:text="${registrado}" style="color:red"></p>
   <p th:if="${borrado != null}" th:text="${borrado}" style="color:red"></p>

   <label>E-Mail</label>
  <input type="email" class="" name="email" th:value="${email}"/>
  
  <label>Clave</label>
  <input type="password" class="" name="clave"/>
  
  <br/><button type="submit" class="">Ingresar</button>
</form>
    
    
</body>
</html>