
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header> 
    <a href="/logout"> Desconectar Administrador</a>
</header>
<body>
    
    <p th:if="${registrado != null}" th:text="${registrado}" style="color:red"></p>
    
    <h1> Opciones Librería </h1>

    <a href="/prestamos"> Préstamos </a> <br>
    <a href="/clientes"> Clientes </a> <br>
    <a href="/libros"> Libros</a> <br>
    <a href="/autores"> Autores </a> <br>
    <a href="/editoriales"> Editoriales</a> <br>
    <a href="/admins"> Administradores</a> <br>
    
    
</body>
</html>