<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header> 
    <a href="/logout"> Desconectar Administrador </a>
    <br>
     <a href="/inicio"> Volver al menú principal</a>
</header>
<body>
    <div>
        <h2 class="">Modificar Libro</h2>
            <form action="modificarLibro" method="POST" enctype="multipart/form-data">
                
                <p th:if="${error != null}" th:text="${error}" style="color:red";></p>
                
                <label> Selecione libro a modificar</label>
                <select class="" name="id"> 
                  <option th:each="libro : ${libros}" th:value="${libro.id}" th:text="${libro.titulo}"></option> 
                  </select>

              <label>Título </label>
              <input type="text" class="" name="titulo" th:value="${nombre}"/>

              <label>Año de publicación </label>
              <input type="number" class="" name="anio" th:value="${apellido}"/>

              <label>Ejemplares del libro </label>
              <input type="number" class="" name="ejemplaresTotales" th:value="${documento}"/>

              <label>Editorial</label>
              <select class="" name="editorial"> 
                <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option> 
                </select>
                     
                <label>Autor</label>
              <select class="" name="autor"> 
                <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option> 
                </select>
                           
              
              
              
              
              <br/><button type="submit" class="">Modificar</button>
            </form>
    </div>
</body>
</html>