<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header> 
    <a href="/logout"> Desconectar Administrador </a>
    <br>
     <a href="/inicio"> Volver al menú principal</a>
</header>
<body>
    <h1> Sección libros </h1>

    <a href="/cargarlibro"> Cargar Libro </a> <br>
    <a href="/modificarlibro"> Borrar Libro </a> <br>
    <a href="/borrarlibro"> Borrar Libro </a> <br>
    
    
    
</body>
</html>